.background {
  background: url(../img/home-banner.webp) no-repeat;
  background-color: #4f8a69;
  background-blend-mode: overlay;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

/* Menu */

.icon-plane {
  padding: 5px 5px;
  color: #FDFDFD;
  font-size: 30px;
  transform: rotate(320deg);
}

.fas {
  line-height: normal;
}

.menu-title {
  font-size: 2.25em;
}

.menu-nav {
  align-self: center;
}

.button-white {
  font-size: 1.125em;
  padding: 0px 5px;
  margin: 0px 5px;
}

.button-green{
  background-color: #FDFDFD;
  font-size: 1.125em;
  padding: 5px 50px;
  border-radius: 5px;
}

/* Main */

.main-content {
  width: 500px;
}

.main-title {
  font-size: 3em;
  padding: 100px 0px 20px 0px;
}

.main-list {
  padding-bottom: 200px;
  font-size: 1.125em;
  line-height: 1.4em;
}

.main-input {
  padding: 10px 100px;
  align-self: center;
  border: 1px solid #40FF93;
  border-radius: 4px;
}

/* Info */

.info {
  width: 70%;
  background: #fff;
  padding: 20px 0px;
  position: relative;
  left: 30%;
  top: -88px;
}

.info-item {
  text-align: center;
  font-size: 1.25em;
}

/* Section Destinations */

.section-title-destination::before {
  background: #40FF93;
}

.section-destination-img {
  padding: 50px 10px 50px 0px;
  margin-bottom: 30px;
}

.img-destination {
  flex: 1;
  max-width: 460px;
  border-radius: 10px;
  position: relative;
  transition: width 4s, heigth 4s;
}

.img1-destination {
  top: 40px;
  z-index: 0;
}

.img1-destination:hover {
  z-index: 2;
  width: 160px;
  height: 260px;
}

.img2-destination {
  right: 30px;
  z-index: 1;
}

.img3-destination {
  top: 40px;
  right: 60px;
  z-index: 0;
}

.img3-destination:hover {
  z-index: 2;
}

.section-destination-info {
  flex: 1;
  align-self: center;
}

.section-destination-button {
  background: #40FF93;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Section events */

.section-title-events {
  text-align: end;
}

.section-title-events::before {
  background: #2d3bf8;
}




