.header-main-container {
  margin: 0px 20px;
  padding-top: 20px;
  max-width: 100%;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.background-light-gray {
  background-color: #FDFDFD;
}

.background-white {
  background-color: #fff;
}

.background-green {
  background-color: #40FF93;
}
.background-gray {
  background-color: #626262;
}

.color-light-gray {
  color: #FDFDFD;
}

.color-white {
  color: #fff;
}

.color-green {
  color: #40FF93;
}

.color-gray {
  color: #626262;
}

.color-black {
  color: #101010;
}

.font-jost-bold {
  font-family: 'Jost';
  font-weight: bold;
}

.font-jost-regular {
  font-family: 'Jost';
  font-weight: 400;
}

.font-roboto-bold {
  font-family: 'Roboto';
  font-weight: bold;
}

.font-roboto-regular {
  font-family: 'Roboto';
  font-weight: 400;
}

.font-size-xs {
  font-size: 1.125em;
}

.font-size-sm {
  font-size: 1.25em;
}

.font-size-md {
  font-size: 2em;
}

.font-size-lg {
  font-size: 2.25em;
}

.font-size-xl {
  font-size: 3em;
}

.text-uppercase {
  text-transform: uppercase;
}

.section-container {
  max-width: 1315px;
  margin: 0 auto;
}

.section-title {
  font-size: 2.1875em;
  padding: 30px 0px;
}

.section-title::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 50px;
  margin-right: 10px;
  border-radius: 4px;
  position: relative;
  top: 10px;
}

.section-info-subtitle {
  font-size: 1.875em;
  font-weight: bold;
}

.section-info {
  font-size: 1.15em;
}

.section-destination-covid-button {
  background: #40FF93;
  padding: 10px 15px;
  margin: 10px 5px 0px 0px;
  transition: background-color 0.5s linear 0.1s;
}

.section-destination-covid-button:hover {
  background-color: #000;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.border-radius-10 {
  border-radius: 10px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.main-register-input {
  padding: 10px;
  border: 1px solid #40FF93;
}

.main-register-input::-webkit-input-placeholder {
  color: #40FF93;
  font-family: 'Roboto';
  font-size: 1.25em;
  font-weight: bold;
}

.main-register-input::-moz-placeholder {
  color: #40FF93;
  font-family: 'Roboto';
  font-size: 1.25em;
  font-weight: bold;
}
